.food-main {
    margin-top: 186px;
    margin-bottom: 32px;
}

.container {
    display: flex;
}

.filter {
    display: inline-block;
    width: 30%;
}

.food-content {
    width: 70%;
    max-height: 800px;
    /* overflow-y: auto;  */
    overflow-x: hidden; 
    padding-right: 10px; 
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.food-content::-webkit-scrollbar {
    width: 6px;
}

.food-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.food-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.food-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}