.order-main {
    margin-top: 186px;
    margin-bottom: 64px;
}

.order-container {
    padding: 0 64px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.error {
    color: red;
}

.order-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
}

.order-btn:hover {
    background-color: #005bb5;
}
